# Managed by Ansible. Source: roles/linux_wireguard/templates/linux-wireguard-hub.conf.j2

[Interface]
PrivateKey = {{ linux_wireguard_member.private_key }}
Address = {{ linux_wireguard_member.address }}
ListenPort = {{ linux_wireguard_site.listen_port }}
Table = off
{% for peer in linux_wireguard_site_members if peer.host != linux_wireguard_site.hub_host and (peer.active | default(true)) %}
{% set peer_allowed_ips = peer | ansible_common.core.wireguard_peer_allowed_ips(linux_wireguard_site.hub_allowed_ips | default([])) %}
{% for allowed_ip in peer_allowed_ips %}
PostUp = ip route replace {{ allowed_ip }} dev %i
PostDown = ip route show {{ allowed_ip }} dev %i | grep -q . && ip route delete {{ allowed_ip }} dev %i || true
{% endfor %}
{% endfor %}

{% for peer in linux_wireguard_site_members if peer.host != linux_wireguard_site.hub_host and (peer.active | default(true)) %}
[Peer]
# {{ peer.name | default(peer.host) }}
PublicKey = {{ peer.public_key }}
{% set peer_allowed_ips = peer | ansible_common.core.wireguard_peer_allowed_ips(linux_wireguard_site.hub_allowed_ips | default([])) %}
AllowedIPs = {{ peer_allowed_ips | join(', ') }}

{% endfor %}
