# Managed by Ansible. Source: {{ template_path | default('templates/wireguard/windows-spoke.conf.j2') }}
# Network: {{ network_display_name | default(wireguard_site_id) }}

[Interface]
PrivateKey = {{ wireguard_windows_member.private_key }}
Address = {{ wireguard_windows_member.address }}

[Peer]
# {{ wireguard_site.hub.name | default(wireguard_site.hub_host) }}
PublicKey = {{ wireguard_site.hub_public_key }}
Endpoint = {{ wireguard_site.endpoint.host }}:{{ wireguard_site.endpoint.port }}
AllowedIPs = {{ wireguard_windows_member.hub_allowed_ips | default(wireguard_site.hub_allowed_ips) | join(', ') }}
PersistentKeepalive = 25
